   
      body {
      background-image: url('../../p1.jpg');
      background-size: cover;
      background-position: center;
     /* background-repeat: no-repeat;*/
      height: 100vh;
      margin: 0;
      color: white;
    }
    


