   
      body {
       display: flex;
       flex-direction: column;
       background-image: url('../../p1.jpg');
           background-size: cover;
      background-size: 200px;

    
      height: 100vh;
      color: white;
    }
    


main {
  flex: 1; /* يجعل المحتوى الرئيسي يأخذ المساحة المتبقية */
}


