 #offcanvasNavbar {
 
  background: url("../../p1.jpg") no-repeat center center;
  background-size: cover;
 transition: transform 0.3s ease-in-out;
 }



 #offcanvasNavbar .navbar-nav li a {
/* display: block;*/
 color:white!important;
 padding: 12px 16px;
 background:rgba(100,100,100,0.4);
/* text-decoration: none;*/
 font-size: 10px;
 margin: 3px;
 border-radius: 5px;
 margin: 13px;
 }

 #offcanvasNavbar .navbar-nav li a:hover{
 border: 1px solid #0076ff;
 border-bottom:1px solid #0076ff;
 border-top:1px solid #0076ff;
 }
 
 


.navbar {
   background-color: rgba(0, 0, 0, 0.4) !important;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
 }
 
 
 .navbar .toggler {
   color: white !important;
   width: 20%;
   text-align: center;
   
 } 
 
 